@import "./rose-pine.css";

*{
    font-family: NotoSans;
    font-size: 20;
    min-height: 0;
    color: white;
}

window#waybar {
    background-color: transparent;
}

#workspaces{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    border-radius: 15px;
    margin-right: 10px;
    padding: 1px 10px;
    font-weight: bolder;
    /* background-color: #181818; */
    background-color: @main;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 22px;
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    /* background: #8A8A8A; */
    background: @iris;
}

#tray,
#custom-power,
#cpu, 
#memory,
#pulseaudio, 
#battery, 
#clock, 
#idle_inhibitor,
#network {
  border-radius: 15;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #ffffff;
  /* color: @text; */
  color: #e0def4;
}
#clock {
  background-color: #56949f;
}
#custom-power{
  background-color: @love;
}
#battery{
  /* background-color: #d7827e; */
  background-color: @love;
}
#pulseaudio{
  background-color: #56949f;
}
#memory{
  background-color: #56949f;
}
#cpu{
  background-color: #56949f;
}
#network{
  background-color: #ea9d34;
}
#idle_inhibitor{
  background-color: #ea9d34;
}
#window{
  background-color: @love;
}
